body{
	margin:0;
	padding: 2;
}

.bloque1 {
	width: 200px;
	height: 150px;
	position: absolute;
	background: #ee3e64;
	left: 0;
	top: 0;
}
.bloque2 {
	width: 200px;
	height: 150px;
	position: absolute;
	background: #44accf;
	right: 0;
	top: 0;
}
.bloque3 {
	width: 200px;
	height: 150px;
	position: absolute;
	background: #b7d84b;
	left: 0;
	bottom: 0;
}
.bloque4 {
	width: 200px;
	height: 150px;
	position: absolute;
	background: #FFFF00;
	right:0;
	bottom:0;
}